asgiref==3.8.1
certifi==2024.2.2
Django==5.0.3
django-appconf==1.0.6
django-browser-reload==1.12.1
django-compressor==4.4
djangorestframework==3.15.1
gunicorn==21.2.0
influxdb-client==1.41.0
packaging==24.0
python-dateutil==2.9.0.post0
rcssmin==1.1.1
reactivex==4.0.4
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==2.2.1
