{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    <link rel="shortcut icon" href="{% static 'Baby_app/images/sleeping-baby.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
</head>
<body class="min-h-screen bg-gradient-to-br from-maroon-flush-500 to-maroon-flush-400">
  <div class="mx-auto my-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-lg">
        <h1 class="text-center text-white text-2xl font-bold sm:text-3xl">Get started today</h1>
        <p class="mx-auto mt-4 max-w-md text-center text-gray-100">
			Step into the future of baby monitoring with us! Join our community and experience the seamless blend of cutting-edge technology and heartfelt care, ensuring your baby's well-being is just a click away.
        </p>
        <form action="{% url 'users:register' %}" method="post" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
            {% csrf_token %}
            {{ form }}
          <img class="h-40 w-40 mx-auto" src="{% static 'Baby_app/images/sleeping-baby.png' %}" alt="logo"><br>
          	<p class="text-center text-white text-lg font-medium">Create a new account</p>
          <div>
            <label for="email" class="sr-only">Email</label>

            <div class="relative">
              <input
                type="email"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter email"
                
              />
            </div>
          </div>
          <div>
            <label for="username" class="sr-only">Username</label>
            <div class="relative">
              <input
                type="text"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter username"
                
              />
    
            </div>
          </div>
          <div>
            <label for="phone" class="sr-only">Phone</label>
    
            <div class="relative">
              <input
                type="tel"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter phone number"
                
              />
    
            </div>
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
    
            <div class="relative">
              <input
                type="password"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter password"
                
              />
    
            </div>
          </div>

          <input
            type="submit"
            class="block w-full rounded-lg bg-indigo-600 hover:bg-indigo-700 px-5 py-3 text-base font-medium text-white"
            value="Sign up"
          >
    
          <p class="text-center text-sm text-gray-100">
            Already have an account?
            <a class="underline" href="{% url 'users:login' %}">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  
  </body>
  </html>
