{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    <link rel="shortcut icon" href="{% static 'Baby_app/images/sleeping-baby.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
</head>
<body>
    <main class="flex">
        <nav class="flex flex-col min-h-screen w-1/6 bg-maroon-flush-500 text-white p-4 space-y-4">
            <a class="font-mono text-xl" href="{% url 'Baby_app:index' %}">Baby Vision Pro</a>
            <a class="" href="{% url 'Baby_app:dashboard' %}">Home</a>
            <a href="#">Settings</a>
        </nav>
        <div>
            <ul>
                {% load tz %}
                {% for temp in temperature %}
                <!-- <li class="text-teal-500">{{ temp.0|timezone:"Asia/Kolkata" }}, {{ temp.1 }}</li> -->
                <li class="text-teal-500">{{ temp.0|localtime }}, {{ temp.1 }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>