{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'Baby_app:index' %}">Baby Vision Pro</a>
            <img src="" alt="Profile Pic">
            <a href="#">Account</a>
        </nav>
    </header>
    <main>
        <section class="flex flex-col min-h-screen w-1/4 bg-maroon-flush-500">
            <a class="" href="{% url 'Baby_app:index' %}">Baby Vision Pro</a>
            <a class="" href="{% url 'Baby_app:dashboard' %}">Dashboard</a>
            <a class="" href="https://wa.me/916383195909?text=Hi" target="_blank">Contact Us</a>
            <a class="" href="{% url 'Baby_app:login' %}">Login</a>
            <a class="" href="{% url 'Baby_app:register' %}">Register</a>
        </section>
    </main>
</body>
</html>