{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head class="scroll-smooth">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    <link rel="shortcut icon" href="{% static 'Baby_app/images/sleeping-baby.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
	<script src="{% static 'Baby_app/js/initialize_firebase.js' %}"></script>
</head>
<body class="min-h-screen flex flex-col">
	<nav class=" w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
			<div class="flex items-center justify-between">
				<div class="flex items-center justify-start rtl:justify-end">
				<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
					<span class="sr-only">Open sidebar</span>
					<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
					</svg>
				</button>
				<a href="{% url 'Baby_app:index' %}" class="flex ms-2 md:me-24">
					<img src="{% static 'Baby_app/images/sleeping-baby.png' %}" class="h-8 me-3" alt="BVP logo" />
					<span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Baby Vision Pro</span>
				</a>
				</div>
				<div class="flex items-center">
					<div class="flex items-center ms-3">
						<div>
							<button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
								<span class="sr-only">Open user menu</span>
								<img class="w-8 h-8 rounded-full" src="{% static 'Baby_app/icons/user-profile.svg' %}" alt="user photo">
							</button>
						</div>
						<div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
							<div class="px-4 py-3" role="none">
								<p class="text-sm text-gray-900 dark:text-white" role="none">
									{{ user.username }}
								</p>
								<p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
									{{ user.email }}
								</p>
							</div>
							<ul class="py-1" role="none">
								<li>
									<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
								</li>
								<li>
									<a href="{% url 'users:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
    <main class="flex">
		<aside id="logo-sidebar" class=" w-64 h-screen pt-2 bg-white border-r border-gray-200  dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
			<div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
				<ul class="space-y-2 font-medium">
				<li>
					<a href="{% url 'Baby_app:dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
							<path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
							<path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
						</svg>
						<span class="ms-3">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="{% url 'Baby_app:view_notifications' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
						</svg>
						<span class="flex-1 ms-3 whitespace-nowrap">Notifications</span>
					</a>
				</li>
				<li class="border-b border-b-gray-200 pb-2">
					<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
							<path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
						</svg>
						<span class="flex-1 ms-3 whitespace-nowrap">Users</span>
					</a>
				</li>
				</ul>
			</div>
		</aside>
		<div>
			Hello Suresh
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda esse quibusdam repudiandae commodi saepe et odit doloremque inventore quia deleniti omnis, delectus laudantium itaque nesciunt eveniet nulla, pariatur aliquam ex.
			Necessitatibus, dolore sit! Mollitia facere alias possimus iure asperiores, ullam velit error, necessitatibus id voluptatem veritatis itaque odio consectetur excepturi repellat nisi molestiae. Soluta rerum quo nobis magni, dolorum non!
			Perferendis cupiditate amet voluptas ipsa quaerat enim nam ab eius inventore impedit saepe corrupti labore magni sed illo, ea totam quasi maxime praesentium voluptates exercitationem recusandae natus! Nisi, porro veritatis?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis qui aliquam, nulla aperiam error enim libero facere ipsum nesciunt in totam, fugiat quia eveniet aspernatur. Nobis ea repudiandae nemo nostrum?
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi hic in, rerum rem doloribus veniam nulla architecto. Similique voluptatem optio unde obcaecati cumque laudantium, odit, saepe, vero magnam vitae et!
			Ipsum impedit, voluptatum eos quis perferendis, culpa, quas autem voluptatibus totam sunt explicabo mollitia fugit nam. Sit quis illo itaque, consequuntur deserunt aliquam nihil commodi adipisci, illum, necessitatibus fugiat sequi!
			Deserunt dolor molestias, cum adipisci repudiandae asperiores vitae reiciendis neque perferendis quo tempora tenetur ad, alias a ab numquam id eos cumque provident rerum ut animi architecto, nesciunt illo! Nemo!
			Aliquid hic eos adipisci corrupti dolore, possimus maiores ad neque natus cum eius perspiciatis eum in ea eveniet quis! Odio vel placeat repellendus illo saepe odit facilis delectus modi praesentium?
		</div>
        <div class="ml-96">
            <ul>
                {% load tz %}
                {% for temp in temperature %}
                    <li class="text-teal-500">{{ temp.0 }}, {{ temp.1|localtime }}, {{ temp.2 }}</li>
                {% endfor %}
            </ul>
            <!-- {{temperature}} -->
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>