{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
</head>
<body class="min-h-screen text-white bg-baby-red-900">
    <header>
        <nav class="nav-links">
            <a class="nav-title" href="{% url 'Baby_app:index' %}">Baby Vision Pro</a>
            <a href="{% url 'Baby_app:dashboard' %}">Dashboard</a>
            <a href="{% url 'Baby_app:index' %}#about">About</a>
            <a href="{% url 'Baby_app:login' %}">Login</a>
            <a href="{% url 'Baby_app:register' %}">Register</a>
        </nav>
    </header>
    <main class="">
        <section id="home" class="flex flex-col justify-center">
            <p class="font-mono text-2xl font-bold ">Baby Vision Pro</p>
            <p>
                This is a baby monitoring system that allows you to monitor your baby from anywhere in the world. 
                You can monitor your baby's temperature, heart rate, and breathing rate. 
                You can also monitor your baby's activities and get notifications when your baby is awake or crying.
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Baby Monitoring System</p>
    </footer>
</body>
</html>