{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
</head>
<body>
    <header>
        <nav class="nav-links">
            <a class="nav-title" href="{% url 'Baby_app:index' %}">Baby Vision Pro</a>
            <a href="#about">About</a>
            <a href="{% url 'Baby_app:login' %}">Login</a>
            <a href="{% url 'Baby_app:register' %}">Register</a>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="{% url 'Baby_app:login' %}" method="post">
                {% csrf_token %}
                <label for="username">Email</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'Baby_app:register' %}">Register</a></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Baby Monitoring System</p>
    </footer>
</body>
</html>