{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Vision Pro</title>
    <link rel="shortcut icon" href="{% static 'Baby_app/images/sleeping-baby.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'Baby_app/src/output.css' %}">
    {% endcompress %}
    <script src="{% static 'Baby_app/js/dashboard_test.js' %}"></script>
</head>
<body>
    <p>sample HTML for Channels testing</p>
    <main>
        <table>
            <tr>
                <th scope="col" class="px-4 py-3">Description</th>
                <th scope="col" class="px-4 py-3">Received at</th>
                <th scope="col" class="px-4 py-3">Priority</th>
            </tr>
            {% for notification in notifications %}
            <tr class="border-b dark:border-gray-700 h-14 cursor-pointer hover:bg-gray-100">
                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ notification.notification_text }}</th>
                <td class="px-4 py-3">{{ notification.received_at }}</td>
                <td class="px-4 py-3 font-semibold {% if notification.priority_level == 'High' %}text-red-500{% elif notification.priority_level == 'Medium' %}text-yellow-300{% else %}text-green-500{% endif %}">{{ notification.priority_level }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>